<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 属性：用于指定当前的映射文件和哪个接口进行映射， 需要指定接口的文件路径， 需要标注包的完整路径接口-->
<mapper namespace="com.iecube.community.model.elaborate_md_task.mapper.EMDStudentTaskMapper">
    <resultMap id="EMDStudentTask" type="com.iecube.community.model.elaborate_md_task.entity.EMDStudentTask">
        <result property="studentId" column="student_id"></result>
        <result property="taskId" column="task_id"></result>
    </resultMap>

    <resultMap id="EMDStuTaskDetailDto" type="com.iecube.community.model.elaborate_md_task.dto.EMDStuTaskDetailDto">
        <result property="stuTaskId" column="stu_task_id"></result>
        <result property="stsId" column="sts_id"></result>
        <result property="stsStatus" column="sts_status"></result>
        <result property="stsSort" column="sts_sort"></result>
        <result property="stsBlockId" column="sts_block_id"></result>
        <result property="stsBlockResult" column="sts_block_result"></result>
        <result property="stsBlockStuData" column="sts_block_stu_data"></result>
        <result property="blockId" column="block_id"></result>
        <result property="blockSort" column="block_sort"></result>
        <result property="confData" column="conf_data"></result>
        <result property="referenceData" column="reference_data"></result>
        <result property="dataTemplate" column="data_template"></result>
    </resultMap>

    <insert id="BatchAdd" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO e_md_student_task (id, studnet_id, task_id, status) VALUES
        <foreach collection="list" separator="," item="item">
            (NULL, #{item.studentId}, #{item.taskId}, #{item.status})
        </foreach>
    </insert>

    <select id="getStuTaskDetail" resultMap="EMDStuTaskDetailDto">
        SELECT st.id AS stu_task_id, sts.id AS sts_id, sts.`status` AS sts_status, section.sort AS sts_sort,
               stsb.id AS sts_block_id, stsb.result AS sts_block_result, stsb.stu_data AS sts_block_stu_data,
               b.id AS block_id, b.sort AS block_sort, bd.type, bd.title, bd.content, bd.catalogue, bd.conf_data,
               bd.reference_data,bd.data_template
        FROM e_md_student_task st
            INNER JOIN e_md_StudentTask_section sts ON sts.studentTask_id=st.id
            INNER JOIN e_md_sectionalization section ON sts.section_id=section.id
            INNER JOIN e_md_STS_block stsb ON stsb.STS_id=sts.id
            INNER JOIN e_md_block b ON stsb.block_id=b.id
            INNER JOIN e_md_block_detail bd ON bd.parent_id=b.id
        WHERE st.studnet_id=#{studentId} AND st.task_id=#{taskId}
        ORDER BY sts_sort, block_sort;
    </select>


</mapper>