<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 属性：用于指定当前的映射文件和哪个接口进行映射， 需要指定接口的文件路径， 需要标注包的完整路径接口-->
<mapper namespace="com.iecube.community.model.elaborate_md_task.mapper.EMDStudentTaskSectionMapper">
    <resultMap id="EMDStudentTaskSection" type="com.iecube.community.model.elaborate_md_task.entity.EMDStudentTaskSection">
        <result property="studentTaskId" column="studentTask_id"></result>
        <result property="sectionId" column="section_id"></result>
    </resultMap>

    <resultMap id="EMDTaskSectionVo" type="com.iecube.community.model.elaborate_md_task.vo.EMDTaskSectionVo">
        <result property="STSId" column="id"></result>
        <result property="studentTaskId" column="studentTask_id"></result>
    </resultMap>

    <insert id="BatchAdd" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO e_md_StudentTask_section (id, studentTask_id, section_id, sort, status) VALUES
        <foreach collection="list" separator="," item="item">
            (NULL, #{item.studentTaskId}, #{item.sectionId}, #{item.sort}, #{item.status})
        </foreach>
    </insert>

    <select id="getByST" resultMap="EMDTaskSectionVo">
        SELECT s.id, s.studentTask_id, s.sort, s.`status`
        FROM  e_md_StudentTask_section s INNER JOIN e_md_student_task st ON s.studentTask_id=st.id
        WHERE st.studnet_id=#{studentId} AND st.task_id=#{taskId}
        ORDER BY sort
    </select>

    <select id="getBySTSId" resultMap="EMDTaskSectionVo">
        SELECT s.id, s.studentTask_id, s.sort, s.`status`
        FROM  e_md_StudentTask_section s INNER JOIN e_md_student_task st ON s.studentTask_id=st.id
        WHERE s.id=#{STSId}
        ORDER BY sort
    </select>

    <update id="upStatus">
        UPDATE e_md_StudentTask_section SET status=#{status} WHERE id=#{STSId}
    </update>
</mapper>