<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 属性：用于指定当前的映射文件和哪个接口进行映射， 需要指定接口的文件路径， 需要标注包的完整路径接口-->
<mapper namespace="com.iecube.community.model.elaborate_md_task.mapper.EMDStudentTaskMapper">
    <resultMap id="EMDStudentTask" type="com.iecube.community.model.elaborate_md_task.entity.EMDStudentTask">
        <result property="studentId" column="student_id"></result>
        <result property="taskId" column="task_id"></result>
        <result property="startTime" column="start_time"></result>
        <result property="endTime" column="end_time"></result>
    </resultMap>

    <resultMap id="EMDStuTaskDetailDto" type="com.iecube.community.model.elaborate_md_task.dto.EMDStuTaskDetailDto">
        <result property="stuTaskId" column="stu_task_id"></result>
        <result property="stsId" column="sts_id"></result>
        <result property="stsStatus" column="sts_status"></result>
        <result property="stsSort" column="sts_sort"></result>
        <result property="stsBlockId" column="sts_block_id"></result>
        <result property="stsBlockResult" column="sts_block_result"></result>
        <result property="stsBlockStuData" column="sts_block_stu_data"></result>
        <result property="blockId" column="block_id"></result>
        <result property="blockSort" column="block_sort"></result>
        <result property="confData" column="conf_data"></result>
        <result property="referenceData" column="reference_data"></result>
        <result property="dataTemplate" column="data_template"></result>
    </resultMap>

    <resultMap id="studentTaskVo" type="com.iecube.community.model.task.entity.StudentTaskVo">
        <result column="student_id" property="studentId"></result>
        <result column="task_id" property="taskId"></result>
        <result column="task_num" property="taskNum"></result>
        <result column="task_name" property="taskName"></result>
        <result column="task_grade" property="taskGrade"></result>
        <result column="task_status" property="taskStatus"></result>
    </resultMap>

    <insert id="BatchAdd" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO e_md_student_task (id, student_id, task_id, status) VALUES
        <foreach collection="list" separator="," item="item">
            (NULL, #{item.studentId}, #{item.taskId}, #{item.status})
        </foreach>
    </insert>

    <select id="emdCourseStudentTaskVo" resultMap="studentTaskVo">
        SELECT e_md_student_task.student_id, e_md_student_task.task_id, task.task_name, task.num as task_num,
               e_md_student_task.`status` as task_status, e_md_student_task.grade as task_grade
        FROM task INNER JOIN e_md_student_task ON task.id=e_md_student_task.task_id
        WHERE task.project_id=#{projectId}
        ORDER BY student_id;
    </select>

    <update id="updateStatus">
        UPDATE e_md_student_task SET status=#{status} WHERE student_id=#{studentId} AND task_id=#{taskId}
    </update>

    <update id="updateStartTime">
        UPDATE e_md_student_task SET start_time=#{startTime} WHERE student_id=#{studentId} AND task_id=#{taskId}
    </update>

    <update id="updateEndTime">
        UPDATE e_md_student_task SET end_time=#{endTime} WHERE student_id=#{studentId} AND task_id=#{taskId}
    </update>

    <select id="getByStudentIdTaskId" resultMap="EMDStudentTask">
        SELECT * FROM e_md_student_task WHERE student_id=#{studentId} AND task_id=#{taskId}
    </select>

</mapper>