<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 属性：用于指定当前的映射文件和哪个接口进行映射， 需要指定接口的文件路径， 需要标注包的完整路径接口-->
<mapper namespace="com.iecube.community.model.elaborate_md_task.mapper.EMDStudentTaskMapper">
    <resultMap id="EMDStudentTask" type="com.iecube.community.model.elaborate_md_task.entity.EMDStudentTask">
        <result property="studentId" column="student_id"></result>
        <result property="taskId" column="task_id"></result>
    </resultMap>

    <resultMap id="EMDStuTaskDetailDto" type="com.iecube.community.model.elaborate_md_task.dto.EMDStuTaskDetailDto">
        <result property="stuTaskId" column="stu_task_id"></result>
        <result property="stsId" column="sts_id"></result>
        <result property="stsStatus" column="sts_status"></result>
        <result property="stsSort" column="sts_sort"></result>
        <result property="stsBlockId" column="sts_block_id"></result>
        <result property="stsBlockResult" column="sts_block_result"></result>
        <result property="stsBlockStuData" column="sts_block_stu_data"></result>
        <result property="blockId" column="block_id"></result>
        <result property="blockSort" column="block_sort"></result>
        <result property="confData" column="conf_data"></result>
        <result property="referenceData" column="reference_data"></result>
        <result property="dataTemplate" column="data_template"></result>
    </resultMap>

    <insert id="BatchAdd" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO e_md_student_task (id, student_id, task_id, status) VALUES
        <foreach collection="list" separator="," item="item">
            (NULL, #{item.studentId}, #{item.taskId}, #{item.status})
        </foreach>
    </insert>

</mapper>