<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 属性：用于指定当前的映射文件和哪个接口进行映射， 需要指定接口的文件路径， 需要标注包的完整路径接口-->
<mapper namespace="com.iecube.community.model.elaborate_md_task.mapper.EMDSTMSBlockMapper">
    <resultMap id="EMDSTSBlock" type="com.iecube.community.model.elaborate_md_task.entity.EMDSTMSBlock">
        <result property="STMSId" column="STMS_id"></result>
        <result property="blockId" column="block_id"></result>
        <result property="aiHelpChatId" column="ai_help_chat_id"></result>
        <result property="aiReviewChatId" column="ai_review_chat_id"></result>
    </resultMap>

    <resultMap id="EMDTaskBlockVo" type="com.iecube.community.model.elaborate_md_task.vo.EMDTaskBlockVo">
        <result property="STMSId" column="STMS_id"></result>
    </resultMap>

    <insert id="BatchAdd" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO e_md_STMS_block
            (id,STMS_id, block_id , status, sort, type, title, content, catalogue, payload, ability, ai_help_chat_id,  ai_review_chat_id)
        VALUES
        <foreach collection="list" separator="," item="item">
            (NULL, #{item.STMSId}, #{item.blockId}, #{item.status}, #{item.sort}, #{item.type}, #{item.title},
             #{item.content}, #{item.catalogue}, #{item.payload}, #{item.ability}, #{item.aiHelpChatId}, #{item.aiReviewChatId})
        </foreach>
    </insert>

    <select id="batchGetBySTMSId" resultMap="EMDTaskBlockVo">
        SELECT id, STMS_id, status, sort, type, title, content, catalogue, payload
        FROM e_md_STMS_block
        WHERE STMS_id IN
              <foreach collection="list" item="item" open="(" separator="," close=")">
                  #{item}
              </foreach>
        ORDER BY STMS_id, sort
    </select>

    <update id="updatePayload">
        UPDATE e_md_STMS_block SET payload=#{payload} WHERE id=#{id}
    </update>

</mapper>