server:
  port: 8088
  servlet:
    session:
      timeout: 0
  max-http-header-size: 1MB

spring:
  datasource:
#    url: jdbc:mysql://47.108.137.115:7999/community?useUnicode=true&characterEncoding=utf8mb4&serverTimezone=UTC
#    url: jdbc:mysql://192.168.1.93:3306/community?useUnicode=true&characterEncoding=utf8mb4&serverTimezone=UTC
#    西安数据库穿透
#    mysql8
#    url: jdbc:mysql://192.168.1.252:3308/community?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
#    url: jdbc:mysql://47.108.137.115:3306/community?useUnicode=true&characterEncoding=utf8mb4&serverTimezone=UTC
#    url: jdbc:mysql://172.27.107.237:3306/community?useUnicode=true&characterEncoding=utf8mb4&serverTimezone=UTC
    url: jdbc:mysql://47.94.161.154:7603/community?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
    username: root
#    password: 11223366zxl
#    password: Root@123
    # 线上数据库密码
#    password: 123456
    password: IECUBE202410081126zxl
    # 办公室服务器sql密码
#    password: 12345678
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      max-lifetime: 10000
      minimum-idle: 3
  redis:
    host: 192.168.1.252
    port: 6379
  mail:
    port: 587
    host: smtp.partner.outlook.cn
    username: iecubeonline@iecube.com.cn
    password: 11223366zxl.
    default-encoding: UTF-8
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            enable: false
          socketFactory:
            port: 465
            class: javax.net.ssl.SSLSocketFactory

  mvc:
    static-path-pattern: /local-resource/**
  servlet:
    multipart:
      max-file-size: 1024MB
      max-request-size: 1024MB
  web:
    resources:
      static-locations: file:${resource-location}
mybatis:
  configuration:
    map-underscore-to-camel-case: true
    default-enum-type-handler: org.apache.ibatis.type.EnumTypeHandler
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

logging:
  level:
    org.springframework.web: DEBUG
    java.sql: DEBUG
#    com.example.demo.mapper: INFO
#    org.mybatis.spring: INFO

FFmpeg:
  path: D:\software\ffmpeg-6.1.1\bin\ffmpeg.exe

resource-location: D:\learn\java\resources
export-report: D:\learn\java\report
export-grade: D:\learn\java\exportGrade
generated-report: D:\learn\java\generatedReport

email:
  template:
    user-activate: classpath:templates/user-activate.ftl
    teacher-activate: classpath:templates/teacher-activate.ftl

business:
  user:
    template:
#      path: classpath:templates/user_template.xlsx
      path: C:\Users\17823\Desktop\user_template.xlsx
DomainName:
  teacher: https://www.iecube.online/login
  student: https://studnet.iecube.online/login

# 配置是否使用萤石摄像头
ys:
  enable: false
  host: 'https://open.ys7.com'
  app-key: '5714850ab2174d868eb99e8916099e1f'
  secret: 'b78c1c789ada73f50d91e7021c7e4b94'

 #配置是否使用默认密码 清华版本后添加
password:
  default-enable: true
  student: 111111
  teacher: 111111

font:
  path: D:\work\iecube_community\service\community\src\main\resources\fonts\simfang.ttf
#  path: /community/service/fonts/simfang.ttf

Ai:
  baseUrl: 'https://beta.megamoyo.cn/api'
  wssBaseUrl: 'wss://beta.megamoyo.cn/api/interact/chat/'
  header:
    auth:
      field: 'x-w6-api-key'
      val: '5byg5bCP6b6ZOjp4aWFvbG9uZzo6VlhjbmQzQ25BWEttbTVjMU8wSUw2RXMtajRkRm5FWUUwTDRHX1RPbkpNMD0='
  model:
    procedure: "raw"
    llm: "doubao-pro"
    llm_short: "DoubaoPro"
  module:
    name: "w6.agent.third_party.iecube"

AI2830:
  server:
    url: "http://47.94.161.154:5001"
    key: "oNeuT5gY4muUzBtvcjvbTrS197LJpOjf"
  reconnect:
    enabled: true
    delay: 3000
    max-attempts: 10
