<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 属性：用于指定当前的映射文件和哪个接口进行映射， 需要指定接口的文件路径， 需要标注包的完整路径接口-->
<mapper namespace="com.iecube.community.model.duplicate_checking.mapper.DuplicateCheckingMapper">

    <resultMap id="studentPDFFile" type="com.iecube.community.model.duplicate_checking.dto.TaskStudentPDFFile">
        <result column="project_id" property="projectId"></result>
        <result column="task_id" property="taskId"></result>
        <result column="student_id" property="studentId"></result>
        <result column="pst_id" property="pstId"></result>
        <result column="resource_id" property="resourceId"></result>
        <result column="file_name" property="fileName"></result>
    </resultMap>

    <resultMap id="RepetitiveRateVo" type="com.iecube.community.model.duplicate_checking.vo.RepetitiveRateVo">
        <result column="project_id" property="projectId"></result>
        <result column="task_id" property="taskId"></result>
        <result column="pst_id" property="pstId"></result>
        <result column="student_id" property="studentId"></result>
        <result column="student_name" property="studentName"></result>
        <result column="resource_id" property="resourceId"></result>
        <result column="file_name" property="fileName"></result>
        <result column="origin_filename" property="originFilename"></result>
        <result column="contrast_student_id" property="contrastStudentId"></result>
        <result column="contrast_student_name" property="contrastStudentName"></result>
        <result column="contrast_resource_id" property="contrastResourceId"></result>
        <result column="contrast_file_name" property="contrastFileName"></result>
        <result column="contrast_origin_filename" property="contrastOriginFilename"></result>
        <result column="repetitive_rate" property="repetitiveRate"></result>
        <result column="repetitive_content" property="repetitiveContent"></result>
    </resultMap>

    <select id="getTaskIdByPSTId" resultType="java.lang.Integer">
        SELECT task_id FROM `project_task_student` WHERE id=#{pstId};
    </select>

    <select id="getPSTIdsByTaskId" resultType="java.lang.Integer">
        SELECT id FROM project_task_student WHERE task_id=#{taskId};
    </select>

    <select id="getStudentFileListByPSTId" resultMap="studentPDFFile">
        SELECT project_task_student.project_id,project_task_student.task_id,project_task_student.student_id,
               project_task_student.id AS pst_id,resources.id AS resource_id,resources.filename AS file_name
        FROM (pst_resource INNER JOIN resources ON pst_resource.resource_id=resources.id)
             INNER JOIN project_task_student on pst_resource.pst_id=project_task_student.id
        WHERE pst_resource.pst_id=#{pstId} AND resources.type='application/pdf';
    </select>

    <insert id="insertRepetitiveRate" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO repetitive_rate (id, project_id, task_id, student_id, pst_id, resource_id, file_name,contrast_student_id,
                                     contrast_resource_id, contrast_file_name, repetitive_rate, repetitive_content)
        VALUES (NULL,#{projectId},#{taskId},#{studentId},#{pstId},#{resourceId},#{fileName},#{contrastStudentId},
                #{contrastResourceId},#{contrastFileName},#{repetitiveRate},#{repetitiveContent})
    </insert>

    <select id="getRepetitiveRateVoByTaskId" resultMap="RepetitiveRateVo">
        SELECT repetitive_rate.id,
               repetitive_rate.project_id,
               repetitive_rate.task_id,
               repetitive_rate.pst_id,
               repetitive_rate.student_id,
               Student.student_name,
               repetitive_rate.resource_id,
               repetitive_rate.file_name,
               resources.origin_filename,
               repetitive_rate.contrast_student_id,
               ContrastStudent.student_name AS contrast_student_name,
               repetitive_rate.contrast_resource_id,
               repetitive_rate.contrast_file_name,
               ContrastResource.origin_filename AS contrast_origin_filename,
               repetitive_rate.repetitive_rate,
               repetitive_rate.repetitive_content
        FROM repetitive_rate
                 JOIN Student ON repetitive_rate.student_id = Student.id
                 JOIN Student AS ContrastStudent ON repetitive_rate.contrast_student_id = ContrastStudent.id
                 JOIN resources ON repetitive_rate.resource_id = resources.id
                 JOIN resources AS ContrastResource ON repetitive_rate.contrast_resource_id = ContrastResource.id
        WHERE repetitive_rate.task_id=#{taskId}
        ORDER BY pst_id, repetitive_rate DESC
    </select>

    <select id="getRepetitiveRateVoByPstId" resultMap="RepetitiveRateVo">
        SELECT repetitive_rate.id,
               repetitive_rate.project_id,
               repetitive_rate.task_id,
               repetitive_rate.pst_id,
               repetitive_rate.student_id,
               Student.student_name,
               repetitive_rate.resource_id,
               repetitive_rate.file_name,
               resources.origin_filename,
               repetitive_rate.contrast_student_id,
               ContrastStudent.student_name AS contrast_student_name,
               repetitive_rate.contrast_resource_id,
               repetitive_rate.contrast_file_name,
               ContrastResource.origin_filename AS contrast_origin_filename,
               repetitive_rate.repetitive_rate,
               repetitive_rate.repetitive_content
        FROM repetitive_rate
                 JOIN Student ON repetitive_rate.student_id = Student.id
                 JOIN Student AS ContrastStudent ON repetitive_rate.contrast_student_id = ContrastStudent.id
                 JOIN resources ON repetitive_rate.resource_id = resources.id
                 JOIN resources AS ContrastResource ON repetitive_rate.contrast_resource_id = ContrastResource.id
        WHERE repetitive_rate.pst_id=#{pstId}
        ORDER BY pst_id, repetitive_rate DESC
    </select>

    <delete id="deleteRepetitiveRate">
        DELETE FROM repetitive_rate WHERE task_id=#{taskId}
    </delete>

    <delete id="deleteRepetitiveRateByPstId">
        DELETE FROM repetitive_rate WHERE pst_id=#{pstId}
    </delete>
</mapper>