<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 属性：用于指定当前的映射文件和哪个接口进行映射， 需要指定接口的文件路径， 需要标注包的完整路径接口-->
<mapper namespace="com.iecube.community.model.usergroup.mapper.UserGroupMapper">

    <resultMap id="UserGroupEntityMap" type="com.iecube.community.model.usergroup.entity.UserGroup">
        <result column="id" property="id"></result>
        <result column="group_name" property="groupName"></result>
        <result column="group_type" property="groupType"></result>
        <result column="group_direction" property="groupDirection"></result>
        <result column="group_classification" property="groupClassification"></result>
        <result column="group_authority" property="groupAuthority"></result>
        <result column="is_delete" property="isDelete"></result>
        <result column="create_time" property="createTime"></result>
        <result column="last_modified_user" property="lastModifiedUser"></result>
        <result column="last_modified_time" property="lastModifiedTime"></result>
    </resultMap>
<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO user_group (id, group_name, group_type, group_direction, group_classification,
                            group_authority, is_delete, creator, create_time, last_modified_user,
                            last_modified_time)
    VALUES (NULL, #{groupName}, #{groupType}, #{groupDirection}, #{groupClassification},
            #{groupAuthority}, #{isDelete}, #{creator}, #{createTime}, #{lastModifiedUser},
            #{lastModifiedTime} )
</insert>

    <update id="update">
        UPDATE user_group SET
                              group_name=#{groupName},
                              group_direction=#{groupDirection},
                              group_classification=#{groupClassification},
                              last_modified_user=#{lastModifiedUser},
                              last_modified_time=#{lastModifiedTime}
        WHERE id=#{id}
    </update>

    <update id="delete">
        UPDATE user_group SET
                              is_delete=1
        WHERE id=#{id}
    </update>

    <select id="findById" resultMap="UserGroupEntityMap">
        SELECT * FROM user_group WHERE id=#{id}
    </select>

    <select id="findCreatorById" resultMap="UserGroupEntityMap">
        SELECT group_type, creator, is_delete FROM user_group WHERE id=#{id}
    </select>

    <update id="userUpdateUserGroup">
        UPDATE user SET
                        user_group=null,
                        last_modified_user=#{lastModifiedId},
                        last_modified_time=#{lastModifiedTime}
        WHERE user_group=#{id}
    </update>
    
    <select id="countUsersByUserGroup" resultType="java.lang.Integer">
        SELECT COUNT(user_group=#{id}) FROM user
    </select>

    <select id="findByCreator" resultMap="UserGroupEntityMap">
        SELECT * FROM user_group WHERE creator=#{creator}
    </select>


</mapper>