<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iecube.community.model.EMDV4Project.EMDV4_student_task_book.mapper.EMDV4StudentTaskBookMapper">
    <resultMap id="EMDV4StudentTaskBook" type="com.iecube.community.model.EMDV4Project.EMDV4_student_task_book.entity.EMDV4StudentTaskBook">
        <result column="p_id" property="pId"></result>
        <result column="source_id" property="sourceId"></result>
        <result column="section_prefix" property="sectionPrefix"></result>
        <result column="device_type" property="deviceType"></result>
        <result column="step_by_step" property="stepByStep"></result>
        <result column="current_child" property="currentChild"></result>
        <result column="has_children" property="hasChildren"></result>
        <result column="need_pass_score" property="needPassScore"></result>
        <result column="pass_score" property="passScore"></result>
        <result column="pass_status" property="passStatus"></result>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO EMDV4_student_task_book
        (`id`, `p_id`, `source_id`, `stage`, `level`, `version`, `name`, `type`, `description`, `order`, `section_prefix`, `device_type`,
         `icon`, `step_by_step`, `style`, `config`, `payload`, `score`, `need_pass_score`, `pass_score`, `pass_status`, `status`, `current_child`)
        VALUES
            (#{id}, #{pId}, #{sourceId}, #{stage}, #{level}, #{version}, #{name}, #{type}, #{description}, #{order}, #{sectionPrefix}, #{deviceType},
             #{icon}, #{stepByStep}, #{style}, #{config}, #{payload}, #{needPassScore}, #{score}, #{passScore}, #{passStatus}, #{status}, #{currentChild})
    </insert>

    <insert id="batchInsert">
        INSERT INTO EMDV4_student_task_book
        (`id`, `p_id`, `source_id`, `stage`, `level`, `version`, `name`,`type`, `description`, `order`, `section_prefix`, `device_type`,
        `icon`, `step_by_step`, `style`, `config`, `payload`,
         `need_pass_score`, `score`, `pass_score`, `pass_status`,
         `status`, `current_child`)
        VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.id}, #{item.pId}, #{item.sourceId}, #{item.stage}, #{item.level}, #{item.version}, #{item.name}, #{item.type}, #{item.description}, #{item.order}, #{item.sectionPrefix}, #{item.deviceType},
             #{item.icon}, #{item.stepByStep}, #{item.style}, #{item.config}, #{item.payload},
             #{item.needPassScore}, #{item.score}, #{item.passScore}, #{item.passStatus},
             #{item.status}, #{item.currentChild})
        </foreach>
    </insert>

    <select id="getById" resultMap="EMDV4StudentTaskBook">
        SELECT
            t.*,
            (SELECT COUNT(1) FROM EMDV4_student_task_book WHERE p_id = t.id) > 0 AS has_children
        FROM
            EMDV4_student_task_book t
        WHERE
            t.id=#{id}
    </select>

    <select id="getByPId" resultMap="EMDV4StudentTaskBook">
        SELECT
            t.*,
            (SELECT COUNT(1) FROM EMDV4_student_task_book WHERE p_id = t.id) > 0 AS has_children
        FROM
            EMDV4_student_task_book t
        WHERE
            t.p_id = #{parentId}
        ORDER BY
            t.`order` ASC
    </select>

    <update id="updateStatus">
        UPDATE EMDV4_student_task_book SET status=#{status} WHERE id=#{id}
    </update>

    <update id="updateCurrentChild">
        UPDATE EMDV4_student_task_book SET current_child=#{currentChild} WHERE id=#{id}
    </update>

    <update id="updateScore">
        UPDATE EMDV4_student_task_book SET score=#{score},
                                           pass_status=#{passStatus}
                                       WHERE id=#{id}
    </update>
</mapper>