<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 属性：用于指定当前的映射文件和哪个接口进行映射， 需要指定接口的文件路径， 需要标注包的完整路径接口-->
<mapper namespace="com.iecube.community.model.pst_resource.mapper.PSTResourceMapper">

    <resultMap id="PSTResourceEntity" type="com.iecube.community.model.pst_resource.entity.PSTResource">
        <result column="pst_id" property="PSTId"></result>
        <result column="resource_id" property="resourceId"></result>
        <result column="read_over_id" property="readOverResourceId"></result>
    </resultMap>

    <select id="getPSTResourcesByPSTId" resultMap="PSTResourceEntity">
        SELECT * FROM pst_resource WHERE pst_id=#{PSTId}
    </select>

    <select id="getById" resultMap="PSTResourceEntity">
        SELECT * FROM pst_resource WHERE id=#{id}
    </select>

    <update id="updatePSTResource" parameterType="com.iecube.community.model.pst_resource.entity.PSTResource">
        UPDATE pst_resource set read_over_id=#{readOverResourceId} WHERE id=#{id}
    </update>

    <insert id="add" parameterType="com.iecube.community.model.pst_resource.entity.PSTResource" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO pst_resource (id, pst_id, resource_id, read_over_id) VALUES (NULL, #{PSTId}, #{resourceId}, #{readOverResourceId})
    </insert>

    <delete id="deleteById">
        DELETE from pst_resource WHERE id=#{id}
    </delete>
</mapper>