<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 属性：用于指定当前的映射文件和哪个接口进行映射， 需要指定接口的文件路径， 需要标注包的完整路径接口-->
<mapper namespace="com.iecube.community.model.taskTemplate.mapper.TaskTemplateMapper">
    <resultMap id="taskTemplateDto" type="com.iecube.community.model.taskTemplate.dto.TaskTemplateDto">
        <result column="content_id" property="contentId"></result>
        <result column="class_hour" property="classHour"></result>
        <result column="task_name" property="taskName"></result>
        <result column="task_cover" property="taskCover"></result>
        <result column="task_device" property="taskDevice"></result>
    </resultMap>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
            task_templates (id, content_id, num, weighting, class_hour, task_name, task_cover, task_device, creator, create_time, last_modified_user, last_modified_time)
        VALUES (null, #{contentId}, #{num}, #{weighting}, #{classHour}, #{taskName}, #{taskCover}, #{taskDevice},  #{creator}, #{createTime}, #{lastModifiedUser}, #{lastModifiedTime})
    </insert>

    <update id="update">
        UPDATE task_templates SET content_id=#{contentId},
                                  num=#{num},
                                  weighting=#{weighting},
                                  class_hour=#{classHour},
                                  task_name=#{taskName},
                                  task_cover=#{taskCover},
                                  task_device=#{taskDevice},
                                  last_modified_user=#{lastModifiedUser},
                                  last_modified_time=#{lastModifiedTime} WHERE id=#{id}
    </update>

    <select id="getTaskTemplatesByContentId" resultMap="taskTemplateDto">
        SELECT id, content_id, num, weighting, class_hour, task_name, task_cover, task_device, task_data_tables
        FROM `task_templates` WHERE content_id=#{contentId} ORDER BY num
    </select>

    <delete id="deleteTaskTemplateById">
        DELETE FROM task_templates WHERE id=#{id}
    </delete>
</mapper>