<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iecube.community.model.elaborate_md_json_question.mapper.EMDLabQuestionTemplateMapper">

    <resultMap id="PayloadQo" type="com.iecube.community.model.elaborate_md_json_question.qo.PayloadQo">
        <result property="parentId" column="parent_id"></result>
    </resultMap>

    <insert id="addQuestionTemplate" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO e_md_lab_question_template (id, parent_id, payload) VALUES (NULL, #{parentId}, #{payload})
    </insert>

    <select id="getQuestionTemplates" resultMap="PayloadQo">
        SELECT id, parent_id, payload FROM e_md_lab_question_template WHERE parent_id=#{labId}
    </select>

    <update id="updateQuestionTemplate">
        UPDATE e_md_lab_question_template set payload=#{payload} WHERE id=#{id}
    </update>

    <select id="getQuestionTemplate" resultMap="PayloadQo">
        SELECT id, parent_id, payload FROM e_md_lab_question_template WHERE id=#{id}
    </select>

</mapper>