<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iecube.community.model.EMDV4Project.EMDV4Analysis.mapper.AnalysisProgressMapper">

    <resultMap id="AnalysisProgress" type="com.iecube.community.model.EMDV4Project.EMDV4Analysis.entity.AnalysisProgress">
        <result column="project_id" property="projectId"></result>
        <result column="total_count" property="totalCount"></result>
        <result column="completed_count" property="completedCount"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
    </resultMap>

    <resultMap id="AnalysisProgressData" type="com.iecube.community.model.EMDV4Project.EMDV4Analysis.entity.AnalysisProgressData">
        <result column="ap_id" property="apId"></result>
        <result column="pt_id" property="ptId"></result>
        <result column="ps_id" property="psId"></result>
        <result column="student_id" property="studentId"></result>
    </resultMap>

    <insert id="createAP">
        INSERT INTO AP_analysis_progress (`id`,`project_id`,`total_count`,`completed_count`, `finished`,
                                          `percent`,`message`,`create_time`,`update_time`)
        VALUES (#{id}, #{projectId}, #{totalCount}, #{completedCount}, #{finished},
                #{percent}, #{message}, #{createTime}, #{updateTime})
    </insert>

    <select id="getAPById" resultMap="AnalysisProgress">
        SELECT `id`,`project_id`,`total_count`,`completed_count`, `finished`,
               `percent`,`message`,`create_time`,`update_time`
        FROM AP_analysis_progress
        WHERE id=#{id}
    </select>

    <select id="getApLatestByProjectId" resultMap="AnalysisProgress">
        SELECT `id`,`project_id`,`total_count`,`completed_count`, `finished`,
               `percent`,`message`,`create_time`,`update_time`
        FROM AP_analysis_progress
        WHERE project_id=#{projectId} ORDER BY create_time DESC LIMIT 1
    </select>

    <update id="updateAPById">
        UPDATE AP_analysis_progress SET completed_count=#{completedCount},
                                        finished=#{finished},
                                        percent=#{percent},
                                        message=#{message},
                                        update_time=#{updateTime}
                                    WHERE id=#{id}
    </update>

    <insert id="createAPD">
        INSERT INTO AP_data (`id`,`ap_id`,`type`, `data`, `pt_id`, `ps_id`, `student_id`)
        VALUES (#{id}, #{apId}, #{type}, #{data}, #{ptId}, #{psId}, #{studentId})
    </insert>

    <insert id="batchCreatAPD">
        INSERT INTO AP_data (`id`,`ap_id`,`type`, `data`, `pt_id`, `ps_id`, `student_id`)
        VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.id}, #{item.apId}, #{item.type}, #{item.data}, #{item.ptId}, #{item.psId}, #{item.studentId})
        </foreach>
    </insert>


    <select id="getAPD" resultMap="AnalysisProgressData">
        SELECT `id`,`ap_id`,`type`, `data`,  `pt_id`, `ps_id`, `student_id`
        FROM AP_data
        WHERE `ap_id`=#{apId} AND type=#{type}
    </select>

    <select id="getAPDWithPtId" resultMap="AnalysisProgressData">
        SELECT `id`,`ap_id`,`type`, `data`, `pt_id`, `ps_id`, `student_id`
        FROM AP_data
        WHERE `ap_id`=#{apId} AND type=#{type} AND pt_id=#{ptId}
    </select>

    <select id="getAPDWithStudentId" resultMap="AnalysisProgressData">
        SELECT `id`,`ap_id`,`type`, `data`, `pt_id`, `ps_id`, `student_id`
        FROM AP_data
        WHERE `ap_id`=#{apId} AND type=#{type} AND student_id=#{studentId}
    </select>

    <select id="getAPDWithPtIdAndPsId" resultMap="AnalysisProgressData">
        SELECT `id`,`ap_id`,`type`, `data`, `pt_id`, `ps_id`, `student_id`
        FROM AP_data
        WHERE `ap_id`=#{apId} AND type=#{type} AND pt_id=#{ptId} AND ps_id=#{psId}
    </select>

</mapper>