<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iecube.community.model.EMDV4Project.EMDV4_component.mapper.EMDV4ComponentMapper">
    <resultMap id="EMDV4Component" type="com.iecube.community.model.EMDV4Project.EMDV4_component.entity.EMDV4Component">
        <result column="block_id" property="blockId"></result>
        <result column="need_calculate" property="needCalculate"></result>
        <result column="total_score" property="totalScore"></result>
        <result column="score_proportion" property="scoreProportion"></result>
        <result column="ai_score" property="aiScore"></result>
        <result column="t_score" property="tScore"></result>
    </resultMap>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO EMDV4_component
            (`id`, `block_id`, `tag`, `stage`, `name`, `icon`, `type`, `need_calculate`, `total_score`, `score`,
             `score_proportion`, `style`, `config`, `payload`, `status`, `order`, `ai_score`, `t_score`)
        VALUES
            (#{id}, #{blockId}, #{tag}, #{stage}, #{name}, #{icon}, #{type}, #{needCalculate}, #{totalScore}, #{score},
             #{scoreProportion}, #{style}, #{config}, #{payload}, #{status}, #{order}, #{aiScore}, #{tScore})
    </insert>

    <insert id="batchInsert">
        INSERT INTO EMDV4_component
        (`id`, `block_id`, `tag`, `stage`, `name`, `icon`, `type`, `need_calculate`, `total_score`, `score`,
        `score_proportion`, `style`, `config`, `payload`, `status`, `order`, `ai_score`, `t_score`)
        VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.id}, #{item.blockId}, #{item.tag}, #{item.stage}, #{item.name}, #{item.icon}, #{item.type}, #{item.needCalculate}, #{item.totalScore}, #{item.score},
            #{item.scoreProportion}, #{item.style}, #{item.config}, #{item.payload}, #{item.status}, #{item.order}, #{item.aiScore}, #{item.tScore})
        </foreach>
    </insert>

    <select id="getByBlockId" resultMap="EMDV4Component">
        SELECT
            `id`, `block_id`, `tag`, `stage`, `name`, `icon`, `type`, `need_calculate`, `total_score`, `score`,
            `score_proportion`, `style`, `config`, `payload`, `status`, `order`,`ai_score`, `t_score`
        FROM EMDV4_component
        WHERE `block_id`=#{blockId}
    </select>

    <select id="getById" resultMap="EMDV4Component">
        SELECT
            `id`, `block_id`, `tag`, `stage`, `name`, `icon`, `type`, `need_calculate`, `total_score`, `score`,
            `score_proportion`, `style`, `config`, `payload`, `status`, `order`,`ai_score`, `t_score`
        FROM EMDV4_component
        WHERE `id`=#{id}
    </select>

    <update id="updateStatus">
        UPDATE EMDV4_component SET `status`=#{status} WHERE id=#{id}
    </update>

    <update id="updatePayload">
        UPDATE EMDV4_component SET `payload`=#{payload} WHERE id=#{id}
    </update>

    <update id="updateAiScore">
        UPDATE EMDV4_component SET `score`=#{score},
                                   `ai_score`=#{score},
                                   `t_score`=#{score},
                                   `score_proportion`=#{scoreProportion}
                               WHERE id=#{id}
    </update>

    <update id="updateTScore">
        UPDATE EMDV4_component SET `score`=#{score},
                                   `t_score`=#{score},
                                   `score_proportion`=#{scoreProportion}
                                WHERE id=#{id}
    </update>

    <select id="batchGetByOrderAndBlockIds" resultMap="EMDV4Component">
        SELECT *
        FROM EMDV4_component
        WHERE `order`=#{order}
          AND `name`=#{name}
          AND `type`=#{type}
          AND `block_id` in
        <foreach collection="blockIds" item="blockId" open="(" separator="," close=")">
            #{blockId}
        </foreach>
    </select>

    <update id="batchUpdateStatus">
        UPDATE EMDV4_component
        SET `status`=
        <foreach collection="records" separator=" " item="item" open="CASE id" close="END">
            WHEN #{item.id} THEN #{item.status}
        </foreach>
        WHERE id IN
        <foreach collection="records" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="batchUpdatePayload">
        UPDATE EMDV4_component
        SET `payload`=
            <foreach collection="records" separator=" " item="item" open="CASE id" close="END">
                WHEN #{item.id} THEN #{item.payload}
            </foreach>
        WHERE id IN
            <foreach collection="records" item="item" open="(" separator="," close=")">
                #{item.id}
            </foreach>
    </update>

    <update id="batchUpdateAiScore">
        UPDATE EMDV4_component
        SET
            `score`= CASE id
        <foreach collection="records" separator="" item="item">
            WHEN #{item.id} THEN #{item.score}
        </foreach>
        END,
            `ai_score`= CASE id
        <foreach collection="records" separator="" item="item">
            WHEN #{item.id} THEN #{item.aiScore}
        </foreach>
        END,
            `t_score`= CASE id
        <foreach collection="records" separator="" item="item">
            WHEN #{item.id} THEN #{item.tScore}
        </foreach>
        END,
            `score_proportion`= CASE id
        <foreach collection="records" separator="" item="item">
            WHEN #{item.id} THEN #{item.scoreProportion}
        </foreach>
        END
        WHERE id IN
        <foreach collection="records" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="batchUpdateTScore">
        UPDATE EMDV4_component
        SET
            `score`= CASE id
        <foreach collection="records" separator="" item="item">
            WHEN #{item.id} THEN #{item.score}
        </foreach>
        END,
            `t_score`= CASE id
        <foreach collection="records" separator="" item="item">
            WHEN #{item.id} THEN #{item.tScore}
        </foreach>
        END,
            `score_proportion`= CASE id
        <foreach collection="records" separator="" item="item">
            WHEN #{item.id} THEN #{item.scoreProportion}
        </foreach>
        END
        WHERE id IN
        <foreach collection="records" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>
</mapper>