<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iecube.community.model.elaborate_md.lab_model.mapper.LabModelMapper">
    <resultMap id="LabModel" type="com.iecube.community.model.elaborate_md.lab_model.entity.LabModel">
        <result column="parent_id" property="parentId"></result>
        <result property="hasChildren" column="has_children"></result>
        <result property="sectionPrefix" column="section_prefix"></result>
        <result property="isNeedAiAsk" column="need_ai_ask"></result>
        <result property="askNum" column="ask_num"></result>
    </resultMap>

    <insert id="createLabModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO e_md_lab_model (id, parent_id, name, icon,sort, need_ai_ask, ask_num, section_prefix, stage)
        VALUES (NULL, #{parentId}, #{name}, #{icon}, #{sort}, #{isNeedAiAsk}, #{askNum}, #{sectionPrefix},#{stage})
    </insert>

    <update id="updateLabModel">
        UPDATE e_md_lab_model SET `name`=#{name},
                                  icon=#{icon},
                                  sort=#{sort},
                                  need_ai_ask=#{isNeedAiAsk},
                                  ask_num=#{askNum},
                                  section_prefix=#{sectionPrefix},
                                  stage=#{stage}
                              WHERE id=#{id}
    </update>

    <update id="batchUpdateSort">
        UPDATE e_md_lab_model
        SET sort =
        <foreach collection="list" item="item" separator=" " open="CASE id" close="END">
            WHEN #{item.id} THEN #{item.sort}
        </foreach>
        WHERE id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>

    <delete id="deleteLabModel">
        DELETE FROM e_md_lab_model WHERE id=#{id}
    </delete>

    <select id="getLabModelById" resultMap="LabModel">
        SELECT
            `id`, `parent_id`, `name`, `icon`, `sort`,`need_ai_ask`, `ask_num`, `section_prefix`, `stage`,
            (SELECT COUNT(*) FROM e_md_sectionalization WHERE parent_id = e_md_lab_model.id) AS has_children
        FROM e_md_lab_model
        WHERE id=#{id} ORDER BY sort
    </select>

    <select id="getLabModelsByLabId" resultMap="LabModel">
        SELECT
            `id`, `parent_id`, `name`, `icon`, `sort`,`need_ai_ask`,`ask_num`, `section_prefix`, `stage`,
            (SELECT COUNT(*) FROM e_md_sectionalization WHERE parent_id = e_md_lab_model.id) AS has_children
        FROM e_md_lab_model
        WHERE `parent_id`=#{labProcId} ORDER BY `sort`
    </select>

</mapper>