<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 属性：用于指定当前的映射文件和哪个接口进行映射， 需要指定接口的文件路径， 需要标注包的完整路径接口-->
<mapper namespace="com.iecube.community.model.pst_article.mapper.PSTArticleMapper">
    <resultMap id="PSTArticle" type="com.iecube.community.model.pst_article.entity.PSTArticle">
        <result property="pstId" column="pst_id"></result>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pst_article (id, pst_id, content, catalogue)
        VALUES (NULL, #{pstId}, #{content}, #{catalogue})
    </insert>

    <select id="getByPstId" resultMap="PSTArticle">
        SELECT * FROM pst_article WHERE pst_id=#{pstId}
    </select>

</mapper>